.orange-bar {
  background-color: #e67e22;
  height: 5px;
  border: none;
  margin-top: -7px;
}

.chart {
  background-color: rgb(230, 230, 224);
  width: 100%;
  height: 55vh;
  padding: 20px 0px;
  border-top: 3px solid #e67e22;
  border-bottom: 3px solid #e67e22;
}

.linechart {
  width: 100%;
}
